google-api-python-client # Google API
google-search-results # SerpAPI
youtube-transcript-api
chromadb
tiktoken
faiss-cpu
wikipedia
python-dotenv
langchain
openai
slack-sdk
slack-bolt
flask
gunicorn
urllib3<2
huggingface_hub
pandasai